# Virtual Environment
venv/
.venv/

# Compiled Python Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Files
.env

# Build and Distribution Files
build/
dist/
*.egg-info/

# IDE and Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log Files
*.log

# Database Files
*.db
*.sqlite3
